/*!
  Kai 12 by Tunghsiao Liu
*/
/*!
*/

// Fix font stack
body {
  font-size: 14px;
  font-size: 1rem;
  font-family: Helvetica, Arial, "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
  text-rendering: optimizeLegibility;
  color: #444;

  &.custom-font-enabled {
    font-family: "Open Sans", Helvetica, Arial, "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
  }
}

// Remove stupid text underline for links
a {
  text-decoration: none;
}

// Remove box shadow for main container
body .site {
  box-shadow: none;
}

// Unset top padding when there's no text header
.site-header {
  padding-top: 0;

  // Re-apply padding for text header here
  hgroup {
    padding: 24px 0;
    padding: 1.714285714rem 0;
  }
}

// Remove box shadow for header image
img.header-image {
  box-shadow: none;
}

// Better navigation width
.main-navigation {
  margin-top: 0;
  margin-left: -40px;
  margin-right: -40px;


  div.nav-menu > ul, // Default menu DOM structure
  ul.nav-menu // Custom menu DOM structure
  {
    padding-left: 40px;
    padding-right: 40px;
  }

  // Centered menu style, disabled by default
  // ul {
  //   text-align: center !important;
  //
  //   li {
  //     margin: 0; // Reset margin value, use padding here.
  //     padding: 0 20px;
  //
  //     &:hover {
  //       background: #f4f4f4;
  //     }
  //   }
  // }
}

// Double border -> solid border
.site-content article {
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

// No shadow class
img.no-shadow {
  box-shadow: none;
}

// Better form style
input, textarea {
  outline: none;

  &:focus {
    border-color: #999;
  }
}
input[type=text] {
  -webkit-appearance: none;
}

// Jetpack comments subscription checkbox fix
#respond .comment-subscription-form label {
  display: inline-block;
}

// Remove box shadow for LaTeX syntax
img.latex {
  box-shadow: none;
}

// Fix GitHub Gist styles
.gist {

  table {
    line-height: inherit;
    margin: 0;
  }
}

// Well styles from Twitter Bootstrap
.well {
  margin-bottom: 20px;
  padding: 19px;
  min-height: 20px;
  color: #ddd;
  text-shadow: rgba(0, 0, 0, .7) 0 1px 1px;
  background-color: #2a2a2a;
  background-image: -webkit-linear-gradient(top, rgb(34, 34, 34), rgb(51, 51, 51));
  background-image:    -moz-linear-gradient(top, rgb(34, 34, 34), rgb(51, 51, 51));
  background-image:         linear-gradient(top, rgb(34, 34, 34), rgb(51, 51, 51));
  border-radius: 4px;
  box-shadow: inset rgba(0, 0, 0, .5) 0 1px 1px;

  a {
    color: #ddd;
    border-bottom: 1px dotted rgba(255, 255, 255, .2);

    &:hover {
      color: #fff;
      border-bottom-color: rgba(255, 255, 255, 1)
    }
  }
}