/*
Theme Name: Kai 12
Theme URI: https://sparanoid.com/work/kai/
Author: Sparanoid
Author URI: https://sparanoid.com/
Description: The missing child theme of Twenty Twelve that passes all Theme Unit Test. It provides a better UI based on Twenty Twelve with native CSS variables support for color scheme customization. No need to change the default theme.
Version: 1.3.17
License: GNU General Public License v2 or later
License URI: https://www.gnu.org/licenses/gpl-2.0.html
Tags: blog, one-column, two-columns, right-sidebar, custom-background, custom-header, custom-menu, editor-style, featured-images, flexible-header, footer-widgets, full-width-template, microformats, post-formats, rtl-language-support, sticky-post, theme-options, translation-ready
Text Domain: twentytwelve
Template: twentytwelve
*/
