html {

  &[lang=zh-CN] { --fontstack-sans-serif: "PingFang SC", "Helvetica Neue", "Segoe UI", sans-serif; }
  &[lang=zh-TW] { --fontstack-sans-serif: "PingFang TC", "Helvetica Neue", "Segoe UI", sans-serif; }
  &[lang=zh-HK] { --fontstack-sans-serif: "PingFang HK", "Helvetica Neue", "Segoe UI", sans-serif; }
}

:root {
  background: var(--background-color);
}

body {
  --gutter: var(--space-sm);
  --gutter-v: calc(var(--space-sm) / 1.25);
  // Used by images/video offsetting
  --space-deco: var(--gutter);
  background: var(--background-color);
  padding: var(--gutter) 0;

  @media (max-width: $breakpoint-md) {
    --gutter: calc(var(--space-sm) / 1.25);
  }

  @media (max-width: $breakpoint-sm) {
    --gutter: 12px;
    --gutter-v: var(--space-xs);
    padding: 0;
  }

  &.custom-background {
    background: var(--background-color);
  }

  &.custom-background-white {
    --border-color: #fff;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--fontstack-heading);
  font-weight: bold;
  letter-spacing: -.02em;
}

h1 { font-size: 1.6em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.3em; }
h4 { font-size: 1.3em; }
h5 { font-size: 1.1em; }
h6 { font-size: 1.1em; }

a {
  text-decoration: none;

  &:hover,
  &:focus {
    color: var(--link-color);
    text-decoration: none;
  }
}

input:not([type=checkbox]),
textarea,
select {
  display: block;
  appearance: none;
  -webkit-appearance: none;
  color: var(--input-color);
  background: var(--input-bg-color);
  outline: none;
  border: none;
  padding: .4em .6em;
  border-radius: 4px;

  &:focus {
    color: var(--input-color-hover);
    background-color: var(--input-bg-color-hover);
  }
}

button,
input[type=submit],
.button,
.faux-button,
.wp-block-button__link,
.wp-block-file__button {
  color: var(--button-color);
  background: var(--button-bg-color);
  cursor: pointer;
  padding-left: 1.2em;
  padding-right: 1.2em;
  border: none;
  box-shadow: none;
  border-radius: 4px;

  &:hover,
  &:focus {
    color: var(--button-color-hover);
    background: var(--button-bg-color-hover);
    text-decoration: none;
  }
}

input {

  &[type=search] {

    // My favorite SVG search cancel button
    &::-webkit-search-cancel-button {
      width: 1em;
      height: 1em;
      appearance: none;
      mask-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 512'%3E%3Cpath d='M207.6 256l107.72-107.72c6.23-6.23 6.23-16.34 0-22.58l-25.03-25.03c-6.23-6.23-16.34-6.23-22.58 0L160 208.4 52.28 100.68c-6.23-6.23-16.34-6.23-22.58 0L4.68 125.7c-6.23 6.23-6.23 16.34 0 22.58L112.4 256 4.68 363.72c-6.23 6.23-6.23 16.34 0 22.58l25.03 25.03c6.23 6.23 16.34 6.23 22.58 0L160 303.6l107.72 107.72c6.23 6.23 16.34 6.23 22.58 0l25.03-25.03c6.23-6.23 6.23-16.34 0-22.58L207.6 256z'/%3E%3C/svg%3E");
      mask-repeat: no-repeat;
      mask-position: center center;
      background-color: currentColor;
      background-repeat: no-repeat;
    }
  }
}

.wp-block-button {

	.wp-block-button__link {
    color: var(--button-color);
    background: var(--button-bg-color);
    border-color: transparent;

    &:hover,
    &:focus {
      color: var(--button-color-hover);
      background: var(--button-bg-color-hover);
    }

    &:not(.has-text-color) {
      box-shadow: none;

      &:active {
        box-shadow: none;
      }
    }

    &:not(.has-background) {

      &:hover,
      &:focus {
        background: var(--button-bg-color-hover);
        background-image: none;
      }

      &:active {
        background: var(--button-bg-color);
        background-image: none;
      }
    }
  }

	&:not(.is-style-outline) {

		.wp-block-button__link {

			&:not(.has-background) {
        background-image: none;
			}
		}
  }
}

select {
  position: relative;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 27.7 12" enable-background="new 0 0 27.7 12"><polygon fill="#BBBDBF" points="27.7,0 13.9,12 0,0"/></svg>');
  background-position: right 10px center;
  background-repeat: no-repeat;
  background-size: 12px;
}

label {
  display: block;
  margin-top: 1rem;

  .required {
    opacity: .5;
    font-feature-settings: "case";
  }
}

// Global wrapper
.site {
  margin: 0 auto;
  max-width: var(--breakpoint-md);
  background-color: var(--container-color);
}

// Header
.site-header {

  // Header text
  hgroup {
    padding: var(--space-xs) var(--gutter);
    border-bottom: 1px solid var(--border-color);

    .site-title {
      font-size: 2.4rem;
    }

    .site-description {
      font-size: 1rem;
      font-weight: normal;
      color: var(--text-color-50);
    }
  }

  // Site navigation
  .main-navigation {
    padding: 0 var(--gutter);
    // Visual padding
    padding-top: 2px;
    border-bottom: 1px solid var(--border-color);

    // Menu toggle for mobile
    .menu-toggle {
      display: none;
    }

    // Menu list
    ul {
      display: flex;
      flex-flow: row wrap;
      list-style: none;

      li {
        position: relative;
        font-size: .8rem;
        margin-right: 3vmax;
        font-weight: bold;

        &:first-child {
          margin-left: 0;
        }

        &:last-child {
          margin-right: 0;
        }

        a {
          display: block;
          padding: 1em 0;
          color: var(--text-color-60);
          text-transform: uppercase;

          &:hover,
          &:focus {
            color: var(--text-color);
            outline: none;
          }
        }

        &.current-menu-item,
        &.current-menu-ancestor,
        &.current_page_item,
        &.current_page_ancestor {

          > a {
            color: var(--link-color);
          }
        }

        // Submenus
        ul {
          display: block;
          position: absolute;
          top: 100%;
          z-index: 1;
          clip: rect(1px, 1px, 1px, 1px);
          overflow: hidden;
          height: 1px;
          width: 1px;
          box-shadow: 0 0 0 1px rgba(0, 0, 0, .05), 0 8px 20px 0 rgba(0, 0, 0, .1);

          li {
            background: var(--submenu-color);
            margin-right: 0;
            font-weight: normal;

            a {
              display: block;
              min-width: 140px;
              max-width: 220px;
              padding: 10px 20px;
            }
          }

          // submenu inside submenu
          ul {
            top: 0;
            left: 100%;
          }
        }

        &:hover,
        &:focus,
        &:focus-within {

          > ul {
            clip: inherit;
            overflow: inherit;
            height: inherit;
            width: inherit;
          }
        }
      }
    }

    // Highlight topmost menu item with link color
    .nav-menu {

      // Matches following based on different WordPress version:
      // - ul.nav-menu
      // - div.nav-menu > ul > li
      & > li,
      > ul > li {

        &.current-menu-item,
        &.current-menu-ancestor,
        &.current_page_item,
        &.current_page_ancestor {

          > a {
            box-shadow: 0 1px 0 currentColor;
          }
        }
      }
    }
  }

  // Header image link
  > a {
    display: block;
    padding: var(--space-sm) var(--gutter);
    border-bottom: 1px solid var(--border-color);
    line-height: 1;

    .header-image {
      max-width: 100%;
      height: auto;
    }
  }
}

// Navigation (prev/next) in post, search, etc.
#nav-above {
  display: none;

  .paged & {
    display: flex;
  }
}

.nav-single,
.navigation {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: var(--space-xs) 0;
  line-height: var(--line-height);
  // A simple trick to avoid doble bottom border
  margin-bottom: -1px;
  @include splitter();

  @media (max-width: $breakpoint-sm) {
    display: block;
  }

  > span {
    display: block;
    flex: 1;
  }

  .nav-previous {
  }

  .nav-next {
    text-align: right;

    @media (max-width: $breakpoint-sm) {
      text-align: left;
    }
  }
}

// General meta nav arrow animation
nav {

  .nav-previous,
  .nav-next {

    a {

      .meta-nav {
        display: inline-block;
        opacity: .5;
        transition: opacity .2s ease, transform .2s ease;
      }
    }
  }

  .nav-previous {

    a {

      &:hover,
      &:focus {

        .meta-nav {
          opacity: 1;
          transform: translateX(-2px);
        }
      }
    }
  }

  .nav-next {

    a {

      &:hover,
      &:focus {

        .meta-nav {
          opacity: 1;
          transform: translateX(2px);
        }
      }
    }
  }
}

// Content wrapper (main structure only, elemtn appearance are defined below)
#main {
  display: flex;

  @media (max-width: $breakpoint-sm) {
    display: block;
  }
}

// Left main content (#primary.site-content)
#primary {
  width: calc(100% - var(--sidebar-width));

  body.full-width &,
  body.woocommerce & {
    width: 100%;
  }

  @media (max-width: $breakpoint-sm) {
    width: 100%;
  }

  // Archive/page header (heading)
  .archive-header,
  .page-header {
    position: relative;
    padding: var(--space-xs) 0;
    @include splitter();

    h1 {
      color: var(--text-color-50);
      font-size: .8rem;
      text-transform: uppercase;
      font-weight: normal;

      span {
        font-weight: bold;
      }
    }
  }
}

// Right sidebar content
#secondary {
  flex: 1;
  width: var(--sidebar-width);
  padding: var(--gutter-v) var(--gutter);

  @media (max-width: $breakpoint-sm) {
    width: 100%;
  }
}

// Footer
#colophon {
  padding: var(--space-xs) var(--gutter);
  border-top: 1px solid var(--border-color);
  color: var(--text-color-30);

  a {
    color: var(--text-color-50);

    &:hover,
    &:focus {
      color: var(--text-color);
    }
  }
}

// Post content appearance
// Mainly copied from my AMSF project
// I moved this out of the #main above to avoid deep nesting
#content {
  @include padding-offset(var(--gutter));

  // Remove additional border of last elements inside main content container
  > *:last-child {
    border-bottom: none !important;
  }
}

article {
  position: relative;
  padding-top: var(--gutter-v);
  padding-bottom: var(--gutter-v);
  margin-bottom: -1px;
  @include splitter();
}

// Post content
.entry-header {

  .entry-title {
    font-weight: bold;
    font-size: 1.8rem;
    line-height: calc(var(--line-height) * .9);
    margin-top: 0;
    margin-bottom: .4em;
    word-wrap: break-word;

    a {
      color: var(--heading-color);

      &:hover,
      &:focus {
        color: var(--heading-color-hover);
      }
    }
  }

  .comments-link {
    color: var(--text-color-50);
    margin-bottom: .8em;

    a {
      color: var(--text-color-50);

      &:hover,
      &:focus {
        color: var(--text-color);
      }
    }
  }
}

.entry-content,
.entry-summary,
.comment-content {

  a {
    color: var(--link-color);

    &:hover,
    &:focus {
      color: var(--link-color-hover);
    }
  }
}

.entry-header,
.entry-content,
.entry-summary,
.comment-content,
.widget {

  p,
  address {
    margin-bottom: 1rem;
    line-height: var(--line-height);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 1.6em;
    margin-bottom: .6em;
  }

  ul,
  ol {
    margin-bottom: 1.8rem;
    list-style: none;
    counter-reset: list;

    @media (max-width: $breakpoint-sm) {
      margin-left: 1em;
    }

    li {
      line-height: calc(var(--line-height) * 1.2);

      &::before {
        position: absolute;
        display: flex;
        justify-content: flex-end;
        width: 4em;
        margin-top: 0;
        margin-left: -4em;
        text-align: right;
        opacity: .4;
        pointer-events: none;
      }

      > ul,
      > ol {
        margin-left: 1em;
        margin-bottom: 0;
      }
    }
  }

  ul li::before {
    content: "-";
    padding-right: .5em;
  }

  ol li::before {
    counter-increment: list;
    content: counter(list) ".";
    padding-right: .25em;
  }

  // Reset list appearance of specific lists
  ul,
  ol {

    &.blocks-gallery-grid,
    &.wp-block-latest-comments {

      @media (max-width: $breakpoint-sm) {
        margin-left: 0;
      }

      li {

        &::before {
          display: none;
        }
      }
    }
  }

  dl:not(.gallery-item) {
    line-height: calc(var(--line-height) * 1.2);

    @media (max-width: $breakpoint-sm) {
      margin-left: 1em;
    }

    dt {

      &::before {
        position: absolute;
        width: 1em;
        margin-left: -1em;
        content: "-";
        opacity: .6;
        pointer-events: none;
      }
    }

    dd {
      margin-bottom: 1.8rem;
    }
  }

  img,
  video {
    max-width: 100%;
    height: auto;
  }

  .wp-block-image,
  .wp-block-embed,
  .wp-block-cover,
  .wp-block-gallery,
  .wp-block-media-text,
  .wp-post-image,
  .browser {
    max-width: none;
    margin-bottom: 1.4rem;

    &.alignwide,
    &.alignfull,
    &.attachment-post-thumbnail {
      width: calc(100% + var(--space-deco) * 2);
      @include margin-offset(calc(var(--space-deco) * -1));
    }
  }

  [class^="wp-block-"] {

    figcaption,
    .wp-caption-text {
      padding-top: 0;
      line-height: 1.4;
      font-style: normal;
    }
  }

  .wp-block-gallery,
  .blocks-gallery-grid {
    margin-bottom: 0;
  }

  .wp-block-cover-image-text,
  .wp-block-cover-text,
  section.wp-block-cover-image {

    a {

      &,
      &:active,
      &:focus,
      &:hover {
        color: #fff;
      }
    }
  }

  .alignleft {
    float: left;
    margin-right: 1em;
  }

  .alignright {
    float: right;
    margin-left: 1em;
  }

  .aligncenter {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .gallery,
  .wp-block-gallery,
  .wp-block-jetpack-tiled-gallery {
    list-style: none;
    margin-bottom: 1.4rem;

    &-columns-1 { grid-template-columns: repeat(1, 1fr); }
    &-columns-2 { grid-template-columns: repeat(2, 1fr); }
    &-columns-3 { grid-template-columns: repeat(3, 1fr); }
    &-columns-4 { grid-template-columns: repeat(4, 1fr); }
    &-columns-5 { grid-template-columns: repeat(5, 1fr); }
    &-columns-6 { grid-template-columns: repeat(6, 1fr); }
    &-columns-7 { grid-template-columns: repeat(7, 1fr); }
    &-columns-8 { grid-template-columns: repeat(8, 1fr); }
    &-columns-9 { grid-template-columns: repeat(9, 1fr); }

    // Hide WordPress auto-generated force newline br
    br {
      display: none;
    }

    // Reset `use_default_gallery_style`
    img {
      border: none !important;
    }

    // Remove list decoration
    li::before {
      display: none;
    }

    // Reset `use_default_gallery_style`
    .gallery-item {
      width: unset !important;
    }

    .gallery-caption {
      color: var(--text-color-50);
    }
  }

  div[class*="gallery-columns-"] {
    display: grid;
  }

  blockquote,
  .wp-block-quote,
  .wp-block-quote.is-style-large {
    position: relative;
    padding: 0 !important;
    margin-bottom: 2rem;
    margin-left: calc(var(--gutter) * -1);
    color: var(--text-color-60);

    @media (max-width: $breakpoint-sm) {
      margin-left: 0;
    }

    > p {
      padding-left: var(--gutter);
      border-left: var(--border-md) solid var(--link-color);

      // TODO: Need better solution
      // We will reset the common margin-bottom to get gapless borders for
      // blockquotes. This could help fix
      // https://github.com/amsf/amsf-curtana/issues/4
      padding-bottom: 1.6em;

      // Now reset default margin button from global define
      margin-bottom: 0;

      // Remove extra padding for the last element, re-apply margin
      &:last-of-type {
        padding-bottom: 0;
        margin-bottom: .4em;
      }

      @media (max-width: $breakpoint-sm) {
        @include padding-offset(calc(var(--gutter) - var(--border-md)), var(--gutter));
        @include margin-offset(calc(var(--gutter) * -1));
      }
    }

    footer {
      @include cf;
    }

    cite {
      display: block;
      font-size: .8rem;
      font-style: normal;

      &::before {
        // https://www.fileformat.info/info/unicode/char/2500/index.htm
        content: "\2500\2500\00a0"
      }
    }

    > cite {
      padding-left: var(--gutter);
    }
  }

  .wp-block-pullquote {
    border: none;

    blockquote {
      margin-bottom: 0;

      p {
        color: var(--text-color);
        font-weight: bolder;
        border: none;
      }
    }
  }

  .has-drop-cap {
    font-weight: bold;

    &:first-letter {
      font-weight: bolder;
    }

    &.has-medium-font-size {
      font-size: 2em;
      line-height: 1.5 !important;
    }
  }

  .has-large-font-size {
    font-weight: bold;
  }

  .wp-block-file {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;

    a:not(.wp-block-file__button) {
      font-weight: bold;
    }
  }

  .wp-block-latest-comments {
    margin-bottom: 1.4rem;

    li {

      article {
        padding-top: 0;
      }
    }
  }

  .wp-block-button {
    margin-bottom: 1.4em;

    &.alignleft,
    &.alignright {
      margin-bottom: 10px;
    }
  }

  details {
    margin-bottom: 1.8rem;

    summary {
      position: relative;
      list-style: none;
      line-height: calc(var(--line-height) * 1.2);
      outline: none;
      cursor: pointer;

      @media (max-width: $breakpoint-sm) {
        margin-left: 1em;
      }

      &::-webkit-details-marker {
        display: none
      }

      &::before {
        content: "+";
        position: absolute;
        display: flex;
        justify-content: center;
        width: 1ex;
        left: -.5em;
        margin-top: 0;
        margin-left: -1ex;
        text-align: right;
        opacity: .4;
        transition: opacity .2s ease, transform .2s ease;
        transform-origin: center center;
        font-feature-settings: "case";
      }
    }

    &[open] summary::before {
      opacity: 1;
      transform: rotate(45deg);
    }
  }

  hr {
    @include splitter-dot();
  }

  sup {
    font-size: 75%;
  }

  pre,
  code,
  kbd {
    font-family: var(--fontstack-monospace);
    color: var(--code-color);
  }

  pre {
    font-size: 1em; // Override WP Block editor
    background: var(--code-color-5);
  }

  code {
    font-size: 1em; // Override WP Block editor
    overflow-wrap: break-word;
  }

  kbd {
    padding: 2px 6px;
    border-radius: .2rem;
    background: var(--code-color-10);
  }

  pre,
  pre.wp-block-code, // Override WP Block editor
  .highlight > pre,
  .highlighter-rouge pre.highlight {
    --space-code: var(--gutter);
    padding-top: var(--space-xs);
    padding-bottom: var(--space-xs);
    @include padding-offset(var(--space-code));
    @include margin-offset(calc(var(--space-code) * -1));
    margin-bottom: 1.8rem;
    overflow-x: auto;
    line-height: calc(var(--line-height) * 1.2);

    // Bouncing scroll fix for iOS
    -webkit-overflow-scrolling: touch;

    code {
      display: unset;
      // Reset overflow for code in code blocks
      overflow-wrap: normal;
    }
  }

  table,
  .wp-block-table {
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 90%;
    margin-bottom: 1.8rem;

    // TODO: responsive table support
    // display: inline-block;
    // overflow-x: auto;
    // white-space: nowrap;

    th,
    td {
      padding: .6em var(--space-xs);
    }

    th {
      border-bottom: var(--border-md) solid var(--border-color); // Override default user agent stylesheet
      text-align: left;
    }

    td {
      border-top: var(--border-sm) solid var(--border-color);
    }
  }

  // Image with captions
  .wp-caption {
    max-width: 100%;

    img {
      margin-bottom: .5em !important;
    }

  }

  .wp-caption-text {
    color: var(--text-color-50);
  }
}

// More button and pagination for posts
.more-link {
  display: inline-block;
  padding: .4em 1em;
  margin: 1em 0;
  border: 1px solid currentColor;
  border-radius: 66px;
}

.page-links {
  margin-bottom: 1em;
}

// To bypass stupid WP.org theme guidelines
.bypostauthor {
  font-weight: normal;
}

// Authoer info block
.author-info {
  display: flex;
  line-height: calc(var(--line-height) * 1.2);

  .author-avatar {
    margin-right: 10px;
  }

  .author-description {
    color: var(--text-color);
  }

  #content > & {
    position: relative;
    padding: var(--space-xs) 0;
    @include splitter();
  }

  .entry-meta & {
    padding-top: var(--space-xs);
  }
}

// Authoer info after every post, .author-info is also nested in this container
.entry-meta {
  line-height: calc(var(--line-height) * 1.2);
  color: var(--text-color-50);

  a {
    color: var(--text-color-50);

    &:hover,
    &:focus {
      color: var(--text-color);
    }
  }
}

// Post type: featured post
.sticky {

  .featured-post {
    @include badge;
    text-transform: capitalize;
  }
}

// Post type: aside
.format-aside {

  .aside {
    background: var(--link-color-5);
    padding: 20px;
    margin: 1rem 0;
    border-right: 1em solid var(--link-color);
  }
}

// Post type: image
.format-image {

  .entry-content {

    p:last-child {

      a img {
        margin-bottom: 0;
      }
    }
  }

  .entry-meta {

    > a {

      // Reapply heading color since it's overitten by global .entry-meta
      h1 {
        color: var(--text-color);
      }

      h2 {
        font-size: 1rem;
        font-weight: normal;
      }

      &:hover,
      &:focus {

        h1 {
          color: var(--link-color);
        }
      }
    }
  }
}

// Post type: link
.format-link {

  header {
    @include badge;
  }

  .entry-content > p {

    // Target last link (heading)
    &:last-child {

      > a {
        font-size: 1.8rem;
        font-family: var(--fontstack-heading);
        font-weight: bold;
        line-height: calc(var(--line-height) * .9);
        color: var(--text-color);

        &:hover,
        &:focus {
          color: var(--link-color);
        }
      }
    }
  }
}

// Post type: quote
.format-quote {

}

// Post type: status
.format-status {

  .entry-header {
    display: flex;
    align-items: center;
    margin-bottom: 1em;

    header {
    }

    h1,
    h2 {
      margin: 0;
    }

    h1 {
      font-size: 1.2rem;
    }

    h2 {
      font-size: 1rem;
      font-weight: normal;

      a {
        color: var(--text-color-50);

        &:hover,
        &:focus {
          color: var(--text-color);
        }
      }
    }

    > img {
      margin-right: 10px;
      order: -1;
    }
  }
}

// Comments (#comments)
.comments-area {

  .comments-title {
    padding: var(--gutter-v) 0 0;
  }

  .commentlist {
    list-style: none;

    .children {
      list-style: none;

      .depth-2 article { padding-left: calc(2em + var(--gutter)); }
      .depth-3 article { padding-left: calc(4em + var(--gutter)); }
      .depth-4 article { padding-left: calc(6em + var(--gutter)); }
      .depth-5 article { padding-left: calc(8em + var(--gutter)); }
      .depth-6 article { padding-left: calc(10em + var(--gutter)); }
      .depth-7 article { padding-left: calc(12em + var(--gutter)); }
      .depth-8 article { padding-left: calc(14em + var(--gutter)); }
      .depth-9 article { padding-left: calc(16em + var(--gutter)); }
      .depth-10 article { padding-left: calc(18em + var(--gutter)); }
      .depth-11 article { padding-left: calc(20em + var(--gutter)); }
    }
  }

  .nocomments {
    padding: var(--gutter-v) 0;
  }

  article {
    position: relative;

    .comment-meta {
      clear: both;
      margin-bottom: 1em;

      .avatar {
        float: left;
        margin-right: 10px;
      }

      cite,
      time {
        display: block;
        font-style: normal;
      }

      time {
        font-size: .9rem;
        color: var(--text-color-50);
      }
    }

    .comment-content {

      p:last-child {
        margin-bottom: 0;
      }

      .edit-link {
        font-size: .9rem;

        // Reset link color back to black, overitten by .comment-content
        a {
          color: var(--text-color-50);

          &:hover,
          &:focus {
            color: var(--text-color);
          }
        }
      }
    }

    .reply {
      display: none;
      position: absolute;
      top: var(--gutter-v);
      right: var(--gutter);
      font-size: .9rem;
      color: var(--text-color-50);
    }

    &:hover,
    &:focus {

      .reply {
        display: block;
      }
    }
  }

  .pingback,
  .trackback {

    > p {
      position: relative;
      padding: var(--space-xs) 0;
      @include splitter();

      .edit-link {
        float: right;
      }
    }

    .url {
      font-weight: bold;
    }
  }
}

// Comment reply (#respond)
.comment-respond {
  padding: var(--space-xs) 0;
  line-height: calc(var(--line-height) * 1.2);

  #cancel-comment-reply-link {
    float: right;
  }

  form {

    p {
      margin-bottom: 1em;
    }

    textarea {
      width: 100%;
      resize: vertical;
      min-height: 5em;
    }
  }
}

// Sidebar (#secondary)
.widget-area {
  font-size: .9rem;
  color: var(--text-color-60);

  a {
    color: var(--text-color-60);

    &:hover,
    &:focus {
      color: var(--text-color);
    }
  }

  .widget {
    margin-bottom: 3.5rem;

    &:first-child {

      .widget-title {
        margin-top: 0;
      }
    }

    &:last-child {
      margin-bottom: 0;
    }

    h3 {
      color: var(--text-color-30);
      font-size: .8rem;
      text-transform: uppercase;
      margin-bottom: 1.4rem;
    }
  }
}

// General search form
.searchform {

  > div {
    display: flex;

    input[type=text] {
      border-radius: 4px 0 0 4px;
      min-width: 0;
    }

    input[type=submit] {
      border-radius: 0 4px 4px 0;
    }
  }
}

.post-password-form {

  input[type=password] {
    margin-bottom: 1em;
  }
}

// Assistive text
.assistive-text,
.site .screen-reader-text {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px;
  width: 1px;
}
