//
// Mixins
// -----------------------------------------------------------------------------

// https://nicolasgallagher.com/micro-clearfix-hack/
@mixin cf {

  &::before,
  &::after {
    display: table;
    content: "";
  }

  &::after {
    clear: both;
  }
}

@mixin heading {
  font-size: 360%;
  font-weight: bold;
  letter-spacing: var(--heading-letter-spacing);
}

@mixin sub-heading {
  font-size: 72%;
  font-weight: normal;
  opacity: .5;
}

@mixin padding-offset($padding-left, $padding-right: $padding-left) {
  padding-left: $padding-left;
  padding-right: $padding-right;
}

@mixin margin-offset($margin-left, $margin-right: $margin-left) {
  margin-left: $margin-left;
  margin-right: $margin-right;
}

@mixin splitter {

  &::after {
    position: absolute;
    bottom: 0;
    left: calc(var(--gutter) * -1);
    display: block;
    content: "";
    width: calc(100% + var(--gutter) * 2);
    height: 1px;
    background-color: var(--border-color);
  }
}

@mixin splitter-dot {
  $size: 3px;
  $color: var(--text-color);

  &::before {
    display: block;
    content: '';
    width: $size;
    height: $size;
    margin: 2em auto;
    border-radius: 50%;
    background: $color;
    box-shadow: ($size * 8) 0 0 0 $color, ($size * -8) 0 0 0 $color;
  }
}

@mixin badge {
  display: inline-block;
  color: var(--link-color);
  background: var(--link-color-10);
  border-radius: 0 4px 4px 0;
  padding: 4px 10px;
  padding-left: var(--space-deco);
  margin-left: calc(var(--space-deco) * -1);
  margin-bottom: 1em;
  font-weight: bold;
}

// Remove output unit
@function unitlessness($input) {
  @if type-of($input) == 'number' and not unitless($input) {
    @return $input / ($input * 0 + 1);
  }

  @return $input;
}
