//
// Plugins
// -----------------------------------------------------------------------------

body {

  // Set correct padding bottom for Jetpack Infinite Scrolling
  &.infinite-scroll:not(.infinity-end) {
    padding-bottom: 0;
  }
}

.infinite-loader {
  padding: 0 var(--space-sm);
  margin-top: var(--space-xs);
}

#infinite-footer {

  .container {
    border: none;
    box-shadow: 0 -1px 0 0 var(--border-color);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
  }
}

.hljs {
  overflow: initial !important;
  background-color: transparent !important;
  padding: 0 !important;
}
