//
// Plugins
// -----------------------------------------------------------------------------

body { // wrap it in body to avoid abusing !important

  // Jetpack: Infinite Scrolling
  // Set correct padding bottom
  &.infinite-scroll:not(.infinity-end) {
    padding-bottom: 0;
  }

  .infinite-loader {
    padding: 0 var(--space-sm);
    margin-top: var(--space-xs);
  }

  #infinite-footer {

    .container {
      background-color: var(--background-color-80);
      border: none !important;
      box-shadow: 0 -1px 0 0 var(--border-color);
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
    }

    .blog-info,
    .blog-credits {

      a {
        color: var(--text-color);

        &:hover,
        &:focus {
          color: var(--link-color);
          text-decoration: none;
        }
      }
    }
  }

  &.infinite-scroll #infinite-handle {
    padding-bottom: 0 !important;

    span {
      padding: var(--gutter-v) var(--gutter);
      color: var(--text-color);
      font-size: 1.2rem;
      font-weight: bold;
      background: var(--text-color-5);
      font-family: var(--fontstack-heading);
    }
  }

  // Jetpack: Contact Form
  .contact-form {

    label {

      span {
        color: var(--text-color-50);
      }
    }
  }

  // Jetpack: Gallery
  .gallery {

    img {
      margin: auto !important;
      max-width: 100% !important;
    }
  }

  // Jetpack: Sharedaddy
  .sharedaddy {

    li {

      &::before {
        display: none;
      }
    }
  }

  // WP Code Highlight.js
  .hljs {
    overflow: initial !important;
    background-color: transparent !important;
    padding: 0 !important;
  }

  // TagCloudShortCode
  div#tagcloud {
    margin-bottom: auto !important;
    width: auto !important;
    text-align: left !important;
  }

  // Algolia Search
  // https://github.com/algolia/algoliasearch-wordpress/
  --k12-algolia-font-size: calc(var(--font-size) * .9);
  --k12-algolia-menu-background: var(--background-color);
  --k12-algolia-highlight-background: var(--link-color-20);
  .aa-dropdown-menu {
    font-family: inherit;
    background-color: var(--k12-algolia-menu-background);

    &,
    a {
      color: var(--text-color);
      font-size: var(--k12-algolia-font-size);
    }

    .aa-hint {
      color: var(--text-color-40);
    }

    .autocomplete-header-title {
      color: var(--text-color-40);
    }

    .autocomplete-header-more {

      a {
        color: var(--text-color-30);

        &:hover {
          color: var(--text-color-40);
        }
      }
    }

    .aa-suggestion {
      padding: .5em 0;

      em {
        color: var(--link-color);
        background: var(--k12-algolia-highlight-background);
      }

      .suggestion-post-content {
        color: var(--text-color-40);

        em {
          box-shadow: inset 0 -2px 0 0 var(--link-color-50);
        }
      }

      &.aa-cursor {
        background-color: var(--text-color-5);
      }
    }

    a.suggestion-link {

      svg {
        fill: var(--text-color-30);
      }
    }

    .autocomplete-footer-branding {
      color: var(--text-color-30);
    }
  }

  #ais-wrapper {
    width: 100%;
    // margin fix for infinite scroll
    margin-bottom: 30px;
  }

  #ais-main {
    padding: 0;
  }

  #algolia-search-box {
    padding: var(--gutter-v) var(--gutter);
    padding-bottom: calc(var(--gutter-v) + 1em);
    margin-bottom: 0;
    border-bottom: 1px solid var(--border-color);

    input {
      border-bottom: 1px solid var(--text-color-10);
      border-radius: 0;
      font-weight: normal;
    }

    .search-icon {
      left: var(--gutter);
      top: calc(var(--gutter-v) + 14px);
      fill: var(--text-color-10);
    }

    .ais-stats,
    .ais-search-box--powered-by {
      color: var(--text-color-40);
      top: calc(var(--gutter-v) + 60px);
    }

    .ais-search-box--powered-by {
      right: var(--gutter);
    }
  }

  .ais-hits--item {
    margin-bottom: 0;

    em,
    a em {
      background: var(--k12-algolia-highlight-background);
    }
  }

  #algolia-pagination {
    padding: var(--gutter-v) var(--gutter);
  }

  // Sidebar
  #ais-facets {
    padding: var(--gutter-v) var(--gutter);

    .ais-facets {
      margin-bottom: 3.5rem;
    }

    .ais-menu,
    .ais-hierarchical-menu,
    .ais-refinement-list {

      &--header {

        h3 {
          // Copied from sidebar heading appearance
          color: var(--text-color-30);
          font-size: .8rem;
          text-transform: uppercase;
          margin-bottom: 1.4rem;
        }
      }

      &--item {
        line-height: calc(var(--line-height) * 1.2);

        &__active {
          font-weight: bold;

          a {
            color: var(--link-color);
          }
        }
      }

      &--count {
        float: right;
        opacity: .4;
      }

      &--label {
        margin-top: 0;
        margin-bottom: .2em;
      }
    }
  }
}
