//
// Plugins
// -----------------------------------------------------------------------------

body { // wrap it in body to avoid abusing !important

  // Jetpack: Infinite Scrolling
  // Set correct padding bottom
  &.infinite-scroll:not(.infinity-end) {
    padding-bottom: 0;
  }

  .infinite-loader {
    margin-top: var(--space-xs);
  }

  #infinite-footer {

    .container {
      background-color: var(--container-color-80);
      border: none !important;
      box-shadow: 0 -1px 0 0 var(--border-color);
      -webkit-backdrop-filter: saturate(180%) blur(20px);
      backdrop-filter: saturate(180%) blur(20px);
    }

    .blog-info,
    .blog-credits {

      a {
        color: var(--text-color);

        &:hover,
        &:focus {
          color: var(--link-color);
          text-decoration: none;
        }
      }
    }
  }

  // Mobile version
  &.infinite-scroll #infinite-handle {
    padding-bottom: 0 !important;

    span {
      padding-top: var(--gutter-v);
      padding-bottom: var(--gutter-v);
      @include padding-offset(var(--gutter));
      @include margin-offset(calc(var(--gutter) * -1));
      color: var(--text-color);
      font-size: 1.2rem;
      font-weight: bold;
      background: var(--text-color-5);
      font-family: var(--fontstack-heading);
    }
  }

  // Jetpack: Contact Form
  .contact-form {

    label {

      span {
        color: var(--text-color-50);
      }
    }
  }

  // Jetpack: Gallery
  .gallery {

    img {
      margin: auto !important;
      max-width: 100% !important;
    }
  }

  // Jetpack: Sharedaddy
  .sharedaddy {

    li {

      &::before {
        display: none;
      }
    }
  }

  // WP Code Highlight.js
  .hljs {
    overflow: initial !important;
    background-color: transparent !important;
    padding: 0 !important;
  }

  // TagCloudShortCode
  div#tagcloud {
    margin-bottom: auto !important;
    width: auto !important;
    text-align: left !important;
  }

  .widget_tag_cloud {

    li {
      display: inline-block;

      &::before {
        display: none;
      }
    }

    a {
      border: 1px solid var(--text-color-20);
      border-radius: 4px;
      display: inline-block;
      font-size: inherit !important;
      padding: 0 .4em;
      margin-right: .2em;
      margin-bottom: 0.5em;

      &:hover,
      &:focus {
        border-color: var(--text-color);
      }

      .tag-link-count {
        opacity: .4;
      }
    }
  }

  // Algolia Search
  // https://github.com/algolia/algoliasearch-wordpress/
  --k12-algolia-font-size: calc(var(--font-size) * .9);
  --k12-algolia-menu-background: var(--container-color);
  --k12-algolia-autocomplete-height: 400px;

  .aa-dropdown-menu {
    font-family: inherit;
    background-color: var(--k12-algolia-menu-background);
    max-height: var(--k12-algolia-autocomplete-height);
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;

    &,
    a {
      color: var(--text-color);
      font-size: var(--k12-algolia-font-size);
    }

    .aa-hint {
      color: var(--text-color-40);
    }

    .autocomplete-header {
      position: sticky;
      top: 0;
      padding: 0 14px;
      // reset from default
      margin: 0;
      background-color: var(--k12-algolia-menu-background);
    }

    .autocomplete-header-title {
      color: var(--text-color-40);
    }

    .autocomplete-header-more {

      a {
        color: var(--text-color-30);

        &:hover {
          color: var(--text-color-40);
        }
      }
    }

    .aa-suggestion {
      padding: .5em 0;

      em {
        color: var(--link-color);
        background: var(--link-color-20);
      }

      .suggestion-post-content {
        color: var(--text-color-40);

        em {
          box-shadow: inset 0 -2px 0 0 var(--link-color-50);
        }
      }

      &.aa-cursor {
        background-color: var(--text-color-5);
      }
    }

    a.suggestion-link {

      svg {
        fill: var(--text-color-30);
      }
    }

    .autocomplete-footer-branding {
      color: var(--text-color-30);
    }
  }

  #ais-wrapper {
    width: 100%;
    // margin fix for infinite scroll
    margin-bottom: 30px;
  }

  #ais-main {
    padding: 0;
    @include padding-offset(var(--gutter));
  }

  #algolia-search-box {
    position: relative;
    padding: var(--gutter-v) 0;
    padding-bottom: calc(var(--gutter-v) + 1em);
    margin-bottom: 0;
    @include splitter();

    input {
      border-bottom: 1px solid var(--text-color-10);
      border-radius: 0;
      font-weight: normal;
    }

    .search-icon {
      top: calc(var(--gutter-v) + 14px);
      fill: var(--text-color-10);
    }

    .ais-stats,
    .ais-search-box--powered-by {
      color: var(--text-color-40);
      top: calc(var(--gutter-v) + 60px);
    }

    .ais-search-box--powered-by {
      right: var(--gutter);
    }
  }

  .ais-hits {

    &--item {
      margin-bottom: 0;

      em,
      a em {
        color: var(--link-color);
        background: var(--link-color-20);
      }

      @media only screen and (max-width: 1000px) {
        border-bottom: none;
        padding-bottom: 0;
      }
    }

    &__empty {
      padding: var(--gutter-v) 0;
    }
  }

  #algolia-pagination {
    padding: var(--gutter-v) 0;
  }

  // Sidebar
  #ais-facets {
    padding: var(--gutter-v) var(--gutter);

    .ais-facets {
      margin-bottom: 3.5rem;
    }

    .ais-menu,
    .ais-hierarchical-menu,
    .ais-refinement-list {

      &--header {

        h3 {
          // Copied from sidebar heading appearance
          color: var(--text-color-30);
          font-size: .8rem;
          text-transform: uppercase;
          margin-bottom: 1.4rem;
        }
      }

      &--item {
        line-height: calc(var(--line-height) * 1.2);

        &__active {
          font-weight: bold;

          a {
            color: var(--link-color);
          }
        }
      }

      &--count {
        float: right;
        opacity: .4;
      }

      &--label {
        margin-top: 0;
        margin-bottom: .2em;
      }
    }
  }
}

// WooCommerce
body .woocommerce,
body.woocommerce {

  .woocommerce-breadcrumb {
    padding: var(--space-xs) 0;
    margin-bottom: 0;
  }

  span.onsale {
    line-height: 2.836;
  }

  .woocommerce-error,
  .woocommerce-info,
  .woocommerce-message {
    background-color: var(--input-bg-color);
  }

  // product page
  div.product {

    .woocommerce-tabs {

      ul.tabs {

        &::before {
          border-bottom-color: var(--border-color);
        }

        li {
          background-color: var(--input-bg-color);
          border-color: var(--border-color);
          border-bottom-color: var(--container-color);

          &::before,
          &::after {
            display: none;
          }

          &.active {
            background-color: var(--container-color);
            border-color: var(--text-color-10);
            border-bottom-color: var(--container-color);

            &::before {
              box-shadow: 2px 2px 0 var(--container-color);
            }

            &::after {
              box-shadow: -2px 2px 0 var(--container-color);
            }
          }
        }
      }
    }
  }

  .button,
  button.button {
    color: var(--button-color);
    background: var(--button-bg-color);

    &:hover,
    &:focus {
      color: var(--button-color-hover);
      background: var(--button-bg-color-hover);
    }

    &:disabled {

      &,
      &[disabled] {

        &,
        &:hover {
          background: var(--button-bg-color);
        }
      }
    }
  }

  form {

    &.checkout_coupon,
    &.login,
    &.register {
      border-color: var(--border-color);
    }
  }

  fieldset {
    border: 1px solid var(--border-color);
    border-radius: 4px;
    padding: .6em 1em;
    margin: 1em 0;

    > legend {
      padding: 0 .5em;
    }

    > .woocommerce-form-row:first-child {

      label {
        margin-top: 0;
      }
    }
  }

  .input-text {
    border: none !important;
  }
}

// Clean My Archives
.clean-my-archives {
  --archives-font-size: 1rem;
  --archives-grid-gap: .5rem;
  --archives-day-width: 2ch;

  .month-year {

    a {
      color: var(--text-color);

      &:hover,
      &:focus {
        color: var(--link-color);
      }
    }
  }

  ul {

    @media (max-width: 640px) {
      margin-left: 0;
    }

    li {
      display: grid;
      grid-template-columns: var(--archives-day-width) 1fr auto;
      grid-gap: var(--archives-grid-gap);
      font-size: var(--archives-font-size);
      line-height: 1.4;
      margin-bottom: .6em;

      .day {
        color: var(--text-color-40);
      }

      .comments-number {
        color: var(--text-color-40);
      }

      a {

      }

      &::before {
        display: none;
      }

      &.day-duplicate {

        .day {
          opacity: 0;
        }
      }
    }
  }
}
