//
// Variables
// -----------------------------------------------------------------------------

// TODO: We're in the process of transfering Sass variables to CSS native
// variables, since CSS variables still don't support media query and color
// manipulation, I still need some Sass variables here.

// Layout
$breakpoint-lg: 1600px !default;
$breakpoint-md: 1080px !default;
$breakpoint-sm: 640px !default;
$breakpoint-xs: 400px !default;

body {
  // Kladenets overrides
  // Typography
  --font-size: 16px;

  // Layout
  --breakpoint-lg: #{$breakpoint-lg};
  --breakpoint-md: #{$breakpoint-md};
  --breakpoint-sm: #{$breakpoint-sm};
  --breakpoint-xs: #{$breakpoint-xs};

  --space-xs: 20px;
  --space-sm: 40px;
  --space-md: 80px;
  --space-lg: 240px;

  // Colors
  --text-color-h: 227;
  --text-color-s: 54%;
  --text-color-l: 6.85%;

  --link-color-h: 247;
  --link-color-s: 50%;
  --link-color-l: 50%;

  --bg-color-h: 210;
  --bg-color-s: 5%;
  --bg-color-l: 90%;

  --code-color-h: 24;
  --code-color-s: 77%;
  --code-color-l: 45%;

  // Custom variables
  --fontstack-heading: var(--fontstack-prefix) var(--fontstack-sans-serif);
  --heading-letter-spacing: -.04em;
}
