<!DOCTYPE html>
<html>
<head><title>Example Theme 2.0 Details</title></head>
<style>
body {
	font-size: 1.2em;
	padding-top: 2em;
}
p {
	max-width: 600px;
	margin: auto;
	margin-bottom: 1em;
}
</style>
<body>

<p>
This is the page specified in the <code>details_url</code> field of the theme metadata file.
It shows up when the user clicks the "View version 2.0 details" link for Example Theme 1.0.
</p>

<p>
For a real theme, you will probably want to point <code>details_url</code> to the theme homepage,
or a "What's New" page of some kind.
</p>

</body>
</html>