<!doctype html>
<html>
<head><title>Theme Update Details</title></head>
<style>
body {
  font-family: sans-serif;
  font-size: 1.2em;
  padding-top: 2em;
  line-height: 1.6;
}

.main {
  max-width: 600px;
  margin: auto;
}

.logo {
  margin: 0 auto 50px;
  max-width: 300px;
}

.logo img {
  width: 100%;
}

</style>
<body>

<div class="main">
  <div class="logo">
    <img src="//d349cztnlupsuf.cloudfront.net/kai-series.png">
  </div>

  <p>Changelog is not available here, you can read the changelog at <a href="https://github.com/sparanoid/kai-12">GitHub</a>.</p>
</div>

</body>
</html>